firebase_admin==7.0.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-re2==1.1.20240702
google-resumable-media==2.7.2
googleapis-common-protos==1.69.2
jsonpatch==1.32
jsonpointer==2.0
numpy==2.2.5
packaging==24.2
pandas==2.3.1
requests==2.32.3
streamlit==1.47.0

